/* * {
    border: 1px solid black;
} */

body {
    margin: 0px;
}

.left {
    width: 280px;
}

.friends-filter {
    text-align: center;
}

.right {
    width: 620px;
}

.main {
    width: 900px;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    background-color: lightcyan;
    height: 700px;
    box-shadow: 1px 2px 7px 6px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}