* {
    border: 1px solid black;
}

body {
    margin: 0px;
}

.left{
    width: 280px;
}

.right{
    width: 620px;
}

.main {
    width: 900px;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    background-color: yellow;
}